body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-54px;
  width:797px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  height:558px;
}
#u2711 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:62px;
  width:797px;
  height:558px;
  display:flex;
}
#u2711 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2711_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:33px;
  background:inherit;
  background-color:rgba(69, 90, 100, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2712 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:613px;
  width:93px;
  height:33px;
  display:flex;
}
#u2712 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2712_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2713_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:33px;
  background:inherit;
  background-color:rgba(69, 90, 100, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2713 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:613px;
  width:93px;
  height:33px;
  display:flex;
}
#u2713 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2713_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
